// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** font face **/
